/*Resiting the dimension on te screen*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*background*/
main{
    min-height: 120vh; /*to cover the whole screen*/
    background: rgb(97,44,178);
    background: linear-gradient(126deg, rgba(97,44,178,1) 0%, rgba(66,28,126,1) 8%, rgba(42,16,87,1) 22%, rgba(42,16,87,1) 29%, rgba(13,2,54,1) 67%, rgba(13,2,54,1) 100%);
    /*to center the section in the middle*/
    display: flex; /*to make align-items and justify-content work */
    align-items: center;
    justify-content: center;
}

/*section part (the container)*/
.glass{
    background: white ;
    height: 100vh; /* to set a maximum height*/
    width: 680px;    /* to set the width*/
    background: linear-gradient(to right bottom,rgba(255,255,255,1), rgba(255,255,255,0.5));
    border-radius: 2%;
    z-index: 2 ; /*to make the section part in the top of circels*/
    display: flex; /*to make flex-direction work */
    flex-direction: column; /*to make divs displayed veritcally */
    display: block; /*to make glass section work as block to prevent reduce the section height when typing in mobile phones */
    margin-top:  2rem;  /* to give a little bit space from the top*/
    margin-bottom:  2rem;  /* to give a little bit space from the bottom*/
    padding-bottom:  2rem;  /* to give a little bit space from the bottom of the container*/
    -webkit-backdrop-filter: blur(1em);     /*give blur effet for the section, I used the prefixed for compatibility reasons*/
    backdrop-filter: blur(1em);     /*give blur effet for the section*/


}

/*modify the main title*/

.title{
text-align: center; /*modify the main title place*/
margin-top: 1rem; /* to give a little bit space from the top*/
text-shadow:  6px 6px 20px rgb(122, 122, 122);
color: #7917a2;
font-weight: 200;
font-size: 2rem;
opacity: 0.8; 
margin-bottom: 90px;
}


/*modify only the button in the form*/

button
{
background: linear-gradient(to right bottom,rgba(255,255,255,0.7), rgba(143, 216, 204, 0.3));
border-radius: 0.5rem;
border-color: #a4d2da71;
padding:0.2rem;
box-shadow: 6px 6px 20px rgba(122,122,122,0.212); /*make a shadow for each line on the form*/
display: block;
height: 75px;
width: 170px;
margin-top: 150px;

}

/* styling the circels*/
.circle1,
.circle2,
.circle3{
    background: rgb(255,255,255);
    background: linear-gradient(126deg, rgba(255,255,255,1) 0%, rgba(155,72,196,1) 39%, rgba(113,12,155,1) 80%, rgba(132,0,246,1) 100%);   height: 14rem;
    width: 14rem;
    position:absolute; /*to move the circels around*/
    justify-content: center;
    border-radius: 50%; /*to make the divs as circles*/
}

.container {
    height: 200px;
    position: relative;
    border: none;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

/*modify the circles locations*/
.circle1{
    top:5%;
    right:15%;
}
.circle2{
    top: 45%;
    left: 15%;
}

.circle3{
    top: 85%;
    right:15%;
}
/* to solve circle places in mobile phones*/
    @media screen and (max-width: 992px) {
  /*modify the circles locations*/
main{
min-height: 100vh;
}
.glass{
    height: 37vh;
}
.circle1{
    top:15%;
    right:5%;
}
.circle2{
    top: 45%;
    left: 5%;
}

  .circle3 {
     top: 75%;
    right: 5%;
}
     
}
